 {{!-- <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <div class="login-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Username" name="username">
      <input type="text" placeholder="Password" name="psw">
      <button type="submit">Login</button>
    </form>
  </div>
</div> 

<nav>
        
        <ul>
            <li class="logo"><img src="logo.png" alt="logo pic">Dhun</li>
            <li>Home
            <li>About



        </ul>
    </nav>



 --}}


<nav>

        <ul>
            <li class="logo"><img src="logo.png" alt="logo pic">Dhun</li>
            <li>Home
            <li>About
            <li><a style="color:aliceblue; text-decoration:none; " href="register">Register</a>
            <li><a style="color:aliceblue; text-decoration:none; " href="login">Log In</a>
                <li><a style=" text-decoration:none; " href="login"><div class="logOut">Log Out</div></a>





        </ul>
          
    </nav>